name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Build Release
      run: cargo build --release --verbose

    - name: Upload Artifact (Linux/macOS)
      if: matrix.os != 'windows-latest'
      uses: actions/upload-artifact@v3
      with:
        name: rust-socks5-tool-${{ matrix.os }}
        path: target/release/rust-socks5-tool

    - name: Upload Artifact (Windows)
      if: matrix.os == 'windows-latest'
      uses: actions/upload-artifact@v3
      with:
        name: rust-socks5-tool-${{ matrix.os }}
        path: target/release/rust-socks5-tool.exe
