name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: rust-socks5-tool-linux-amd64
            asset_name: rust-socks5-tool-linux-amd64
          - os: macos-latest
            target: x86_64-apple-darwin
            artifact_name: rust-socks5-tool-macos-amd64
            asset_name: rust-socks5-tool-macos-amd64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: rust-socks5-tool-windows-amd64.exe
            asset_name: rust-socks5-tool-windows-amd64.exe

    steps:
    - uses: actions/checkout@v3

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: ${{ matrix.target }}
        override: true

    - name: Build Release
      run: cargo build --release --target ${{ matrix.target }} --verbose

    - name: Rename Artifact (Linux/macOS)
      if: matrix.os != 'windows-latest'
      run: mv target/${{ matrix.target }}/release/rust-socks5-tool ${{ matrix.artifact_name }}

    - name: Rename Artifact (Windows)
      if: matrix.os == 'windows-latest'
      run: mv target/${{ matrix.target }}/release/rust-socks5-tool.exe ${{ matrix.artifact_name }}

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.artifact_name }}
        path: ${{ matrix.artifact_name }}

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v3

      - name: Display structure of downloaded files
        run: ls -R

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            rust-socks5-tool-linux-amd64/rust-socks5-tool-linux-amd64
            rust-socks5-tool-macos-amd64/rust-socks5-tool-macos-amd64
            rust-socks5-tool-windows-amd64.exe/rust-socks5-tool-windows-amd64.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
